
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<section>
    <div style="margin-top:80px">
        <p>@ViewBag.message</p>
    </div>
</section>