@model Data_Layer.Models.SubCategory
@{
    Layout = "_layout";
}
<h4>SubCategory</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddS">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SubcategoryID" class="control-label"></label>
                <input asp-for="SubcategoryID" class="form-control" />
                <span asp-validation-for="SubcategoryID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubCategoryName" class="control-label"></label>
                <input asp-for="SubCategoryName" class="form-control" />
                <span asp-validation-for="SubCategoryName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="categoryID" class="control-label"></label>
                <input asp-for="categoryID" class="form-control" />
                <span asp-validation-for="categoryID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

